{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'front/css/custom.min.css'%}">
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../" class="navbar-brand">PrimeStone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front:student-list'%}">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front:course-list'%}">Courses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header" id="banner">
            {% block main-content %} 
            {% endblock main-content %}
        </div>
    </div>

<script src="{% static 'front/js/jquery.min.js' %}"></script>
<script src="{% static 'front/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>